header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.712);
    margin-bottom: 2em;
}

button{
    width: 7em;
    height: 5em;
    border-radius: 1em;
    margin: 1em;
    opacity: 0.7;
    box-shadow: 5px 5px 10px black;
    font-weight: bold;
}

button:hover{
    background-color: antiquewhite;
    
    transform: scale(1.1);
}

