h1{
    color: antiquewhite;
    text-transform: uppercase;
    text-align: center;
}

aside{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1 px black solid;
    width: 50%;
    margin: auto;
}

button{
    width: 12em;
    height: 10em;
    margin: 1em;
    box-shadow: 5px 5px 10px;
    border-radius: 1em;
    opacity: 0.5;
    font-weight: bolder;
    font-size: large;
    background-image: url(../../../assets/imgs/fondo3.webp);
    background-size: cover;
}

button:hover{
    background-color: antiquewhite;
    
    transform: scale(1.1);
}
